doctype html
head
  title #{cnName}的个人简历
  meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
  link(rel="shortcut icon", href=favicon, type="image/png")
  link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet", href="style/main.css")
  script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
  script(type="text/javascript", src="bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(type="text/javascript", src="bower_components/eventEmitter/EventEmitter.min.js")
  script(type="text/javascript", src="bower_components/eventie/eventie.js")
  script(type="text/javascript", src="bower_components/imagesloaded/imagesloaded.js")
  script(type="text/javascript", src="script/modernizr.min.js")
  script(type="text/javascript", src="script/main.js")

body
  a(href=code, target='_blank')
    img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png')

  .banner(style="background-image: url(" + bg + ")")
    img.avatar(src=avatar, alt=enName)
    h1.text-center.name= enName
    p.text-center.slogan= motto

  .container.content
    ul.contacts.list-inline.text-center
      each contact in contacts
        li
          a(href=contact.link, target='_blank', title=contact.title)
            img(src=contact.image, alt=contact.title)
    p.intro= desc

    h2.text-center 求职意向
    .row.expectation
      .col-xs-6
        img(src=cityImage, class='map img-responsive')
      .col-xs-6
        ul
          each e in expectations
            li= e

    h2.text-center 作品
    .project-wap
      img.loader(src='image/ajax-loader.gif', alt='Loader')
      each p in projects
        .project.thumbnail
          a(href=p.link, title=p.title, target='_blank')
            img.img-responsive(src=p.image, alt=p.title)
          .caption
            h3
              a(href=p.link, target='_blank')= p.title
            p.desc= p.desc
            p.stack= p.stack
            if p.source
              a.source(href=p.source, target='_blank')
                i.fa.fa-github

    h2.text-center 技能
    .row
      .col-xs-10.col-xs-offset-1
        .row
          each skill in skills
            .col-xs-6.skill
              h3= skill.name
              .progress
                .progress-bar.progress-bar-info(style='width: ' + skill.degree + '%')

    h2.text-center 阅读
    .row.books
      each book, index in books
        -var cls = (index === 0) ? 'col-xs-2 col-xs-offset-1' : 'col-xs-2'
        div(class=cls)
          a(href=book.link, target='_blank', class='book')
            img.img-responsive(src=book.image, alt=book.title)
            div.quote= book.quote

    h2.text-center 教育
    .edu-item-wap
      each edu in educations
        .row.edu-item
          .col-xs-5.text-right.time= edu.period
          .col-xs-7= edu.title

  .footer
    .container
      .version Last update: #{updateTime}
      .copyright #{currentYear} © by #{enName}
