doctype html

head
  title 刘志鹏的个人简历
  meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
  link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet" href="style/utils.css")
  link(rel="stylesheet" href="style/main.css")
  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(type="text/javascript" src="bower_components/eventEmitter/EventEmitter.min.js")
  script(type="text/javascript" src="bower_components/eventie/eventie.js")
  script(src="bower_components/imagesloaded/imagesloaded.js")
  script(src="script/main.js")

body
  a(href='https://github.com/hustlzp/resume', target='_blank')
    img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png')
  .banner
    img.avatar(src='http://hustlzp-resume.qiniudn.com/avatar.jpg', alt='hustlzp')
    h1.text-center.name hustlzp
    p.text-center.slogan 以免当我生命结束时，发现自己，从来没有活过。
  .container.content
    .row
      .col-xs-12.text-center
        ul.contacts.list-inline
          each contact in contacts
            li
              a(href=contact.link, target='_blank', title=contact.title)
                img(src=contact.image, alt=contact.title)
    .col-xs-8.col-xs-offset-2
      p.intro
        | Hello，我是刘志鹏，90年生，目前就读于湖北省关山口男职，研究生二年级。业余大爱Web开发，毕业后决定放弃本专业7年所学，转型互联网。如孟子云：虽千万人，吾往矣。
    .row
      .col-xs-12
        h2.text-center 求职意向
    .row.expectation
      .col-xs-6
        img(src='image/shanghai.gif', class='map img-responsive')
      .col-xs-6
        ul
          li
            b 上海
          li 看中专业出身，请勿扰
          li 公司产品的价值观与个人价值观没有严重分歧
          li 有神一样的队友，能够得到快速成长
          li 开明、活跃、年轻的团队氛围
          li 符合行业水平的薪酬
    .row
      .col-xs-12
        h2.text-center 作品
    .project-wap
      img.loader(src='image/ajax-loader.gif', alt='Loader')
      each p in projects
        .project.thumbnail
          a(href=p.link, title=p.title, target='_blank')
            img.img-responsive(src=p.image, alt=p.title)
          .caption
            h3
              a(href=p.link, target='_blank')= p.title
            p.desc= p.desc
            p.tec= p.tec
            if p.source
              a.source(href=p.source, target='_blank')
                i.fa.fa-github
      // <div class="project thumbnail">
      // <a href="https://github.com/hustlzp/jquery-s2t" title="jquery-s2t" target="_blank">
      // <img src="http://placehold.it/320x200" alt="" class="img-responsive"/>
      // </a>
      // <div class="caption">
      // <h3><a href="https://github.com/hustlzp/jquery-s2t" target="_blank">jquery-s2t</a></h3>
      // <p class="desc">用于中文简繁转换的jQuery插件。</p>
      // <p class="tec">JavaScript / jQuery</p>
      // </div>
      // </div>
    .row
      .col-xs-12
        h2.text-center 技能
    .row
      .col-xs-10.col-xs-offset-1
        .row
          each skill, index in skills
            .col-xs-6.skill
              h3= skill.name
              .progress
                .progress-bar.progress-bar-success(style='width: ' + skill.degree + '%')
    .row
      .col-xs-12
        h2.text-center 阅读
    .row.books
      each book, index in books
        -var cls = (index === 0) ? 'col-xs-2 col-xs-offset-1' : 'col-xs-2'
        div(class=cls)
          a(href=book.link, target='_blank', class='book')
            img.img-responsive(src=book.image, alt=book.title)
            div.quote= book.quote
    .row
      .col-xs-12
        h2.text-center 教育
    .edu-item-wap
      each edu in educations
        .row.edu-item
          .col-xs-5.text-right.time= edu.period
          .col-xs-7= edu.title
  .footer
    .container
      .version Last update: #{date}
      .copyright 2014 © by hustlzp
